<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="laundryhero.TestComponents.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="laundryhero.consumerTestcases.consumerProfile"/>
      <class name="laundryhero.consumerTestcases.shareInvitestoFriends"/>
      <class name="laundryhero.consumerTestcases.EnableDisableConsumerNotifications"/>
      <class name="laundryhero.HeroTestcases.View_UpdateHeroAccount"/>
      <class name="laundryhero.consumerTestcases.PromotionLinks"/>
      <class name="laundryhero.consumerTestcases.ConsumerRegisterAsHero"/>
      <class name="laundryhero.consumerTestcases.AddRemoveAddress"/>
      <class name="laundryhero.HeroTestcases.HeroOrderProcessing"/>
      <class name="laundryhero.consumerTestcases.ConsumerPaymentMethods"/>
      <class name="laundryhero.consumerTestcases.Forgot_or_Reset_Password"/>
      <class name="laundryhero.HeroTestcases.LoginApplication"/>
      <class name="laundryhero.consumerTestcases.UpdateConsumerPreferences"/>
      <class name="laundryhero.consumerTestcases.ViewConsumerOrders"/>
      <class name="laundryhero.consumerTestcases.DeleteConsumerAccount"/>
      <class name="laundryhero.HeroTestcases.HeroHomeOrders"/>
      <class name="laundryhero.consumerTestcases.PlaceOrder"/>
      <class name="laundryhero.consumerTestcases.ViewConsumerTransactions"/>
      <class name="laundryhero.HeroTestcases.UpdateHeroStatus"/>
      <class name="laundryhero.consumerTestcases.ChatModule"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
